@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --navbar-footer-start-rgb: 58, 17, 110;
  --navbar-footer-end-rgb: 123, 31, 162;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 50, 50, 50;
  --button-text-color: #7B1FA2;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar, .footer {
  background: linear-gradient(
    to right,
    rgb(var(--navbar-footer-start-rgb)),
    rgb(var(--navbar-footer-end-rgb))
  );
  color: rgb(var(--foreground-rgb)) !important;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.home-container {
  min-height: 100vh; /* Ensure it takes at least full viewport height */
  padding: 0 10%;
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  font-family: 'Inter', sans-serif;
}

.footer {
  background: linear-gradient(
    to bottom,
    rgb(var(--background-end-rgb)),
    rgb(var(--background-end-rgb))
  );
  padding: 10px 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.footer p, .footer a {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-section h1, .text-section p {
  background: linear-gradient(
    to right,
    rgb(var(--navbar-footer-start-rgb)),
    rgb(var(--navbar-footer-end-rgb))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sign-in-btn {
  background: linear-gradient(
    to right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  color: var(--button-text-color);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: #333333;
}

.image-section img {
  max-width: 100%;
  height: auto;
  width: 50%;
}